/*------------------------------------*\
    VARS.SCSS
\*------------------------------------*/
/**
 * Any variables you find set in inuit.css’ `_vars.scss` that you do not wish to
 * keep, simply redefine here. This means that if inuit.css, for example, sets
 * your `$base-font-size` at 16px and you wish it to be 14px, simply redeclare
 * that variable in this file. inuit.css ignores its own variables in favour of
 * using your own, so you can completely modify how inuit.css works without ever
 * having to alter the framework itself.
 */





/*------------------------------------*\
    $OBJECTS-AND-ABSTRACTIONS
\*------------------------------------*/
/**
 * All of inuit.css’ objects and abstractions are initially turned off by
 * default. This means that you start any project with as little as possible,
 * and introducing objects and abstractions is as simple as switching the
 * following variables to `true`.
 */
$use-grids:         false;
$use-flexbox:       false;
$use-columns:       false;
$use-nav:           false;
$use-options:       false;
$use-pagination:    false;
$use-breadcrumb:    false;
$use-media:         false;
$use-marginalia:    false;
$use-island:        false;
$use-block-list:    false;
$use-matrix:        false;
$use-split:         false;
$use-this-or-this:  false;
$use-link-complex:  false;
$use-flyout:        false;
$use-arrows:        false;
$use-sprite:        false;
$use-icon-text:     false;
$use-beautons:      false;
$use-lozenges:      false;
$use-rules:         false;
$use-stats:         false;
$use-greybox:       false;





/*------------------------------------*\
    $OVERRIDES
\*------------------------------------*/
/**
 * Place any variables that should override inuit.css’ defaults here.
 */

$base-font-size: 14px;
$doc-font-size: 14;
$base-font-family: "Roboto Condensed", sans-serif;
$headings-font-family: "Roboto Condensed", sans-serif;
$headings-font-weight: 300;

//$h4-size:           24px; // .delta
//$h3-size:           $h4-size; // .gamma
//$h2-size:           $h3-size; // .beta
//$h1-size:           $h2-size; // .alpha

$meadow: #1abc9c; // Mountain Meadow
$meadow-dark: #16a085; // Mountain Meadow
$buttercup: #f39c12; // Buttercup
$wisteria: #9b59b6; // Wisteria
$bluewood: #2c3e50; // Pickled Bluewood
$black: #000;
$grey-dark: #232525;
$grey: #808080;
$darken: $meadow-dark - $meadow;

$brand-primary: $meadow;

/*------------------------------------*\
    $CUSTOM
\*------------------------------------*/
/**
 * Place any of your own variables that sit on top of inuit.css here.
 */

/*
 * Resources
 */
// http://soundcityproject.com/#/list
// http://www.fubiz.net/
// http://rdt54.ch/prestations?a=false
// http://rytterrytter.com/
// http://www.eginstill.com/
// http://ionicons.com/
